.NavBar {
    width: 100%;
    height: 5em;
    display: grid;
    align-items: center;
    justify-items: center;
    grid-template-columns: 10em auto repeat(9, max-content);
    border-bottom: 0.1em solid lightgray;
    gap: 0.5em;
}